{% extends "base.html" %} {% block title %}Add menu item{% endblock %} 

{% block logo %}
<a href="/restauranthome" class="navbar-brand text-decoration-none">
  <img src="../static/Lieferspatz-logo.png" alt="Lieferspatz Logo" class="img-fluid" style="max-height: 160px;">
  Lieferspatz
</a>
{% endblock %}

{% block navbar_items%} {% endblock%}

{% block content %}
<div class="container my-5">
  <form method="POST">
    <h3 align="center">Add a menu item</h3>
    <div class="form-group">
        <label for="foodpicture">Food Picture</label>
        <input 
          type="file" 
          class="form-control-file" 
          id="foodpicture" 
          accept="image/*">
        <small class="form-text text-muted">Upload food picture.</small>
    </div>
    <div class="form-group">
      <label for="itemname">Name of the item</label>
      <input
        type="text"
        class="form-control"
        id="itemname"
        name="itemname"
        placeholder="Enter name of the item"
      />
    </div>
    <div class="form-group">
      <label for="itemdesc">Description</label>
      <input
        type="text"
        class="form-control"
        id="itemdesc"
        name="itemdesc"
        placeholder="Enter item description"
      />
    </div>
    <div class="form-group">
      <label for="itemtype">Type of item</label>
      <div class="input-group">
        <!-- Item type dropdown -->
        {% set food_categories = ['Main', 'Side', 'Dessert', 'Drink'] %}
        <select class="custom-select" id="itemtype" name="itemtype"> 
          {% for category in food_categories %}
            <option value="{{ category }}">{{ category }}</option>
          {% endfor %}
        </select>
    </div>
    <br />
    <div class="form-group">
      <label for="itemprice">Price of item</label>
      <input
        type="number"
        min="0"
        class="form-control"
        id="itemprice"
        name="itemprice"
        placeholder="Enter item price"
      />
    </div>
    <br />
    <button type="submit" class="btn btn-primary" name="btn" value="add">Add</button>
  </form>
</div>

{% endblock %}