{% extends "base.html" %} {% block title %} Order Food at Lieferspatz {% endblock %} 

{% block logo %}
<a href="/customerhome" class="navbar-brand text-decoration-none">
  <img src="../static/Lieferspatz-logo.png" alt="Lieferspatz Logo" class="img-fluid" style="max-height: 160px;">
  Lieferspatz
</a>
{% endblock %}

{% block navbar_items %} 
<div class="col-6 text-right">
    <a class="btn btn-dark" id="orders" href="/orders">Orders</a>
    <a class="btn btn-dark" id="logout" href="/logout">Logout</a>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Restaurant Boxes Loop (Replace with Jinja loop) -->
    {% for restaurant in restaurants %}
    {% if restaurant[7] == 'OPEN' %}
    <form method="POST" class="text-decoration-none text-dark">
      <button class="card mb-3" name="btn" value="{{ restaurant[0] }}" style="width: 100%; height: 50%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            {% if restaurant[4] == None %}
              <img src= "../static/default-restaurant-picture.png" alt="Restaurant Name" class="img-fluid" style="max-height: 140px;">
            {% else %}
              <img src= "{{ url_for('static', filename=restaurant[4]) }}" alt="Restaurant Name" class="img-fluid" style="max-height: 140px;">
            {% endif %}
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ restaurant[1] }}</h5>
              <p class="card-text">{{ restaurant[2] }}, {{ restaurant[3] }}</p>
              <p class="card-text text-success">{{ restaurant[7] }}</p>
              <p class="card-text"><small class="text-muted">Opening Hours: {{ restaurant[5] }} - {{ restaurant[6] }}</small></p>
            </div>
          </div>
        </div>
      </button>
    </form>
    <!-- End Restaurant Boxes Loop -->
    {% endif %}
    {% endfor %}

    {% for restaurant in restaurants %}
    {% if restaurant[7] == 'CLOSED' %}
    <form method="POST" class="text-decoration-none text-dark">
      <button class="card mb-3" name="btn" value="{{ restaurant[0] }}" style="width: 100%; height: 50%;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src= "{{ url_for('static', filename=restaurant[4]) }}" alt="Restaurant Name" class="img-fluid" style="max-height: 140px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ restaurant[1] }}</h5>
              <p class="card-text">{{ restaurant[2] }}, {{ restaurant[3] }}</p>
              <p class="card-text text-danger">{{ restaurant[7] }}</p>
              <p class="card-text"><small class="text-muted">Opening Hours: {{ restaurant[5] }} - {{ restaurant[6] }}</small></p>
            </div>
          </div>
        </div>
      </button>
    </form>
    <!-- End Restaurant Boxes Loop -->
    {% endif %}
    {% endfor %}
</div>
{% endblock %}