{% extends "base.html" %} {% block title %} Order Food at Lieferspatz {% endblock %} 

{% block navbar_items %} 
<div class="col-6 text-right">
    <a class="btn btn-dark" id="orders" href="/orders">Orders</a>
    <a class="btn btn-dark" id="logout" href="/logout">Logout</a>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">

    <!-- Restaurant Boxes Loop (Replace with Jinja loop) -->
    {% for restaurant in restaurants %}
    {% if restaurant[6] == 'OPEN' %}
    <a href="/menu/" class="text-decoration-none text-dark">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/Lieferspatz-logo.png" alt="Restaurant Name" class="img-fluid" style="max-height: 140px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ restaurant[1] }}</h5>
              <p class="card-text">{{ restaurant[2] }}, {{ restaurant[3] }}</p>
              <p class="card-text text-success">{{ restaurant[6] }}</p>
              <p class="card-text"><small class="text-muted">Opening Hours: {{ restaurant[4] }}</small></p>
              <p class="card-text"><small class="text-muted">Closing Hours: {{ restaurant[5] }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- End Restaurant Boxes Loop -->
    {% endif %}
    {% endfor %}

    {% for restaurant in restaurants %}
    {% if restaurant[6] == 'CLOSED' %}
    <a href="/menu/" class="text-decoration-none text-dark">
      <div class="card mb-3">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="../static/Lieferspatz-logo.png" alt="Restaurant Name" class="img-fluid" style="max-height: 140px;">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">{{ restaurant[1] }}</h5>
              <p class="card-text">{{ restaurant[2] }}, {{ restaurant[3] }}</p>
              <p class="card-text text-danger">{{ restaurant[6] }}</p>
              <p class="card-text"><small class="text-muted">Opening Hours: {{ restaurant[4] }}</small></p>
              <p class="card-text"><small class="text-muted">Closing Hours: {{ restaurant[5] }}</small></p>
            </div>
          </div>
        </div>
      </div>
    </a>
    <!-- End Restaurant Boxes Loop -->
    {% endif %}
    {% endfor %}
</div>
{% endblock %}