{% extends "base.html" %} {% block title %}Add or remove menu item{% endblock %} 

{% block logo %}
<a href="/restauranthome" class="navbar-brand text-decoration-none">
  <img src="../static/Lieferspatz-logo.png" alt="Lieferspatz Logo" class="img-fluid" style="max-height: 160px;">
  Lieferspatz
</a>
{% endblock %}

{% block navbar_items%} {% endblock%}

{% block content %}
<div class="container my-5">
  <form method="POST" enctype="multipart/form-data">
    <h3 align="center">Edit or remove a menu item</h3>
    <div class="form-group">
        <label for="foodpicture">Food Picture</label>
        <input 
        type="file" 
        name="file" 
        id="file"
        name="file"
        accept=".png, .jpg, .jpeg" >
        <small class="form-text text-muted">Upload food picture.</small>
        <img src="{{ url_for('static', filename=menu_item[5]) }}" class="card-img-top" alt=" food_item.name " style="max-height: 80px; max-width: 80px;">
    </div>
    <div class="form-group">
      <label for="itemname">Name of the item</label>
      <input
        type="text"
        class="form-control"
        id="itemname"
        name="itemname"
        value={{ menu_item[1] }}
      />
    </div>
    <div class="form-group">
      <label for="itemdesc">Description</label>
      <input
        type="text"
        class="form-control"
        id="itemdesc"
        name="itemdesc"
        value={{ menu_item[2] }}
      />
    </div>
    <div class="form-group">
      <label for="itemtype">Type of item</label>
      <div class="input-group">
        <!-- Item type dropdown -->
        {% set food_categories = ['Main', 'Side', 'Dessert', 'Drink'] %}
        <select class="custom-select" id="itemtype" name="itemtype"> 
          {% for category in food_categories %}
            {% if category == menu_item[3] %}
              <option value="{{ category }}" selected>{{ category }}</option>
            {% else %}
              <option value="{{ category }}">{{ category }}</option>
            {% endif %}
          {% endfor %}          
        </select>
    </div>
    <br />
    <div class="form-group">
      <label for="itemprice">Price of item</label>
      <input
        type="number"
        min="0"
        class="form-control"
        id="itemprice"
        name="itemprice"
        value={{ menu_item[4] }}
      />
    </div>
    <br />
    <button type="submit" class="btn btn-danger" name="btn" value="remove">Remove</button>
    <button type="submit" class="btn btn-primary" name="btn" value="save">Save</button>
  </form>
</div>

{% endblock %}