{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block navbar_items%}
<div class="col-6 text-right">
    <a class="btn btn-dark" id="login" href="/login">Login</a>
    <a class="btn btn-dark" id="signUp" href="/signup">Sign Up</a>
</div> 
{% endblock%}

{% block content %}
    <h1 align="center" class="my-5">HOME</h1>
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex justify-content-center align-items-center">
                <div id="picture-container">
                    <img src="../static/Lieferspatz-logo.png" alt="Square Picture" class="img-fluid" style="max-width: 270px;">
                    <p id="slogan" class="mt-3">DELIVERY COMES TO THOSE WHO WAIT</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
