{% extends "base.html" %} {% block title %}Incoming Orders{% endblock %} 

{% block logo %}
<a href="/restauranthome" class="navbar-brand text-decoration-none">
  <img src="../static/Lieferspatz-logo.png" alt="Lieferspatz Logo" class="img-fluid" style="max-height: 160px;">
  Lieferspatz
</a>
{% endblock %}

{% block navbar_items%}

{% endblock%}

{% block content %}
<div class="table-container mt-5 mx-5">
    {% set order_status = ['in process', 'in preparation', 'cancelled', 'completed'] %}
    <table class="table" style="table-layout: auto; width: 100%;">
        <thead>
            <tr>
                <th>Date and Time</th>
                <th>Surname</th>
                <th>Name</th>
                <th>Address</th>
                <th>Order</th>
                <th>Comment</th>
                <th>Order Status</th>
                <th>Manage Order</th>
            </tr>
        </thead>
        <tbody>
            <form method = "POST">
            {% for order in orders  | sort(attribute='0', reverse=True) %}
            {% if order[7] == order_status[0] %}
                <tr style="white-space: pre-line;">
                    <td> {{ order[1] }} </td>
                    <td> {{ order[2] }} </td>
                    <td> {{ order[3] }} </td>
                    <td> {{ order[4] }} </td>
                    <td> {{ order[5] }} </td>
                    <td> {{ order[6] }} </td>
                    <td> {{ order[7] }} </td>
                    {% if order[7]==order_status[0] %}
                        <td>
                            <div class="row">
                                <button type="submit" class="btn btn-outline-success" name="confirm" value="{{ order[0] }}">Confirm</button>&nbsp
                                <button type="submit" class="btn btn-outline-danger" name="cancel" value="{{ order[0] }}">Cancel</button>
                            </div>
                        </td>
                    {% elif order[7] == order_status[1]%}
                        <td>
                            <button type="submit" class="btn btn-primary" name="complete" value="{{ order[0] }}">Complete</button>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}
            {% for order in orders | sort(attribute='0', reverse=True) %}
            {% if order[7] == order_status[1] %}
                <tr style="white-space: pre-line;">
                    <td> {{ order[1] }} </td>
                    <td> {{ order[2] }} </td>
                    <td> {{ order[3] }} </td>
                    <td> {{ order[4] }} </td>
                    <td> {{ order[5] }} </td>
                    <td> {{ order[6] }} </td>
                    <td> {{ order[7] }} </td>
                    {% if order[7]==order_status[0] %}
                        <td>
                            <div class="row">
                                <button type="submit" class="btn btn-outline-success" name="confirm" value="{{ order[0] }}">Confirm</button>&nbsp
                                <button type="submit" class="btn btn-outline-danger" name="cancel" value="{{ order[0] }}">Cancel</button>
                            </div>
                        </td>
                    {% elif order[7] == order_status[1]%}
                        <td>
                            <button type="submit" class="btn btn-primary" name="complete" value="{{ order[0] }}">Complete</button>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}
            {% for order in orders | sort(attribute='0', reverse=True) %}
            {% if order[7] == order_status[3] %}
                <tr style="white-space: pre-line;">
                    <td> {{ order[1] }} </td>
                    <td> {{ order[2] }} </td>
                    <td> {{ order[3] }} </td>
                    <td> {{ order[4] }} </td>
                    <td> {{ order[5] }} </td>
                    <td> {{ order[6] }} </td>
                    <td> {{ order[7] }} </td>
                    {% if order[7]==order_status[0] %}
                        <td>
                            <div class="row">
                                <button type="submit" class="btn btn-outline-success" name="confirm" value="{{ order[0] }}">Confirm</button>&nbsp
                                <button type="submit" class="btn btn-outline-danger" name="cancel" value="{{ order[0] }}">Cancel</button>
                            </div>
                        </td>
                    {% elif order[7] == order_status[1]%}
                        <td>
                            <button type="submit" class="btn btn-primary" name="complete" value="{{ order[0] }}">Complete</button>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}
            {% for order in orders | sort(attribute='0', reverse=True) %}
            {% if order[7] == order_status[2] %}
                <tr style="white-space: pre-line;">
                    <td> {{ order[1] }} </td>
                    <td> {{ order[2] }} </td>
                    <td> {{ order[3] }} </td>
                    <td> {{ order[4] }} </td>
                    <td> {{ order[5] }} </td>
                    <td> {{ order[6] }} </td>
                    <td> {{ order[7] }} </td>
                    {% if order[7]==order_status[0] %}
                        <td>
                            <div class="row">
                                <button type="submit" class="btn btn-outline-success" name="confirm" value="{{ order[0] }}">Confirm</button>&nbsp
                                <button type="submit" class="btn btn-outline-danger" name="cancel" value="{{ order[0] }}">Cancel</button>
                            </div>
                        </td>
                    {% elif order[7] == order_status[1]%}
                        <td>
                            <button type="submit" class="btn btn-primary" name="complete" value="{{ order[0] }}">Complete</button>
                        </td>
                    {% else %}
                        <td></td>
                    {% endif %}
                </tr>
            {% endif %}
            {% endfor %}
            </form>
        </tbody>
    </table>
</div>

{% endblock%}