{% extends "base.html" %} {% block title %}Customize your restaurant{% endblock %} 

{% block logo %}
<a href="/restauranthome" class="navbar-brand text-decoration-none">
  <img src="../static/Lieferspatz-logo.png" alt="Lieferspatz Logo" class="img-fluid" style="max-height: 160px;">
  Lieferspatz
</a>
{% endblock %}

{% block navbar_items%}
<div class="col-6 text-right">
    <a class="btn btn-dark" id="settings" href="/settings">
        <div class="d-flex align-items-center">
            <img src="../static/settings-icon-light.png" alt="Settings Icon" width="20" height="20" class="mr-1">
            Settings
        </div>
    </a>

    <a class="btn btn-dark" id="orders" href="/orders">Order List</a>
    <a class="btn btn-dark" id="logout" href="/logout">Logout</a>
</div>
{% endblock%}

{% block content %}
<style>
    th:hover {
        cursor: pointer;
        background-color:aliceblue
    }
</style>

{% set food_categories = [] %}

{% for food_item in menu_items %}
   <!-- {{ food_categories.append( food_item[3] ) }} -->
{% endfor %}

<!-- Bootstrap container for responsive layout -->
<div class="table-container mt-5" align="center">
    <!-- Row to display category boxes -->
    <table class="table table-bordered" style="table-layout: fixed; width: 50%;">
        <!-- Loop through food categories and create boxes -->
            <thead>
                <tr align="center">
                    {% for category in food_categories | unique %}
                    <th onClick="document.getElementById('{{ category }}').scrollIntoView();">
                        <img src="../static/{{ category }}.png" alt="Food category {{category }} picture" class="img-fluid">
                        <h4>{{ category|capitalize }}</h4>
                    </th>
                    {% endfor %}
                </tr>
            </thead>
    </table>
</div>

{% for category in food_categories | unique %}
<div id="{{ category }}" class="food-section container mt-5">
  <h1 align="center">{{ category }}</h1>
  {% for food_item in menu_items %}
    {% if food_item[3] == category %}
            <div class="card mb-3">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            {% if food_item[5] == None %}
                                <img src= "../static/default-food-picture.png" alt="food_item.name" class="img-fluid">
                            {% else %}
                                <img src= "{{ url_for('static', filename=food_item[5]) }}" alt="food_item.name" class="img-fluid">
                            {% endif %}
                        </div>
                        <div class="col-md-6">
                            <h5 class="card-title"> {{ food_item[1] }} </h5>
                            <p class="card-text"><strong>Description:</strong>  {{ food_item[2] }} </p>
                            <p class="card-text"><strong>Price:</strong> {{ food_item[4] }} €</p>
                        </div>
                        <div class="col-md-2">
                            <form method="POST">
                                <button type="submit" class="btn btn-primary btn-block edit-button float-right" data-toggle="modal" data-target="#editModal" name="btn" value="{{ food_item[0] }}">
                                    Edit
                                </button>
                              </form>
                        </div>
                    </div>
                </div>
            </div>

      {% endif %}
    {% endfor %}
</div>
{% endfor %}

<!-- Add Food Button -->
<h1 align="center">Add food</h1>
<div class="container col-md-2 my-5" align="center">
        <button type="button" class="btn btn-success btn-lg btn-block add-food-button" onclick="location.href='/add_item'">
            +
        </button>
    </div>
</div>

<script>
  $(document).ready(function () {
      $(".category-box").click(function () {
          var target = $(this).data("target");
          $('html, body').animate({
              scrollTop: $("#" + target).offset().top
          }, 1000);
      });
  });
</script>
{% endblock %}